aiohttp
aiosignal
alabaster
altair==4.2.0
amortization
anaconda-client==1.2.2
anaconda-navigator==2.3.2
anaconda-project
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
arcade==2.6.13
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black
bleach
blinker==1.5
bokeh
boto3
botocore
Bottleneck
brotlipy==0.7.0
cachetools==5.2.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
commonmark==0.9.1
conda==22.9.0
conda-build==3.22.0
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli==1.0.20
conda-token
conda-verify==3.4.2
constantly==15.1.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.5.0
dask
data==0.4
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.6
distributed
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
funcsigs==1.0.2
future
gensim
gitdb==4.0.9
GitPython==3.1.27
glob2
gmpy2
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
graphviz==0.20.1
greenlet
grpcio
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isodate==0.6.1
isort
itemadapter
itemloaders
itsdangerous
jdcal
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpickle==2.2.0
jsonschema
jupyter
jupyter-book==0.12.3
jupyter-cache==0.4.3
jupyter-console
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server
jupyter-server-mathjax==0.2.5
jupyter-sphinx==0.3.2
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
latex==0.7.0
latexcodec==2.0.1
lazy-object-proxy
libarchive-c
linkify-it-py==1.0.3
llvmlite==0.38.0
locket
lxml
Markdown
markdown-it-py==1.1.0
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins==0.2.8
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
mpmath==1.2.1
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
myst-nb==0.13.2
myst-parser==0.15.2
navigator-updater==0.3.0
nbclassic
nbclient
nbconvert
nbdime==3.1.1
nbformat
nest-asyncio
networkx==2.8.7
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
openpyxl==3.0.10
packaging
pandas==1.4.4
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.2
pep8==1.7.1
pexpect
pickleshare
Pillow==9.2.0
pipenv==2022.10.12
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==3.20.2
psutil
ptyprocess
pure-eval
py
pyarrow==9.0.0
pyasn1
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.1
pycodestyle
pycosat==0.6.3
pycparser
pyct
pycurl==7.45.1
pydata-sphinx-theme==0.7.2
pydeck==0.8.0b3
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
pyglet==2.0a2
Pygments
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
Pympler==1.0.1
pymunk==6.2.1
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest==7.1.2
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytiled-parser==2.0.1
pytz
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.0
pyviz-comms
PyWavelets
PyYAML==6.0
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
rdflib==6.2.0
regex
requests
requests-file
rich==12.5.1
rope
rsa
Rtree
ruamel-yaml-conda
s3transfer
scikit-image
scikit-learn
scikit-learn-intelex==2021.20220215.132722
scipy
Scrapy
seaborn
semver==2.13.0
Send2Trash
service-identity
shutilwhich==1.1.0
sip
six
smart-open
smmap==5.0.0
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinx-book-theme==0.1.10
sphinx-comments==0.0.3
sphinx-copybutton==0.5.0
sphinx-external-toc==0.2.4
sphinx-jupyterbook-latex==0.4.6
sphinx-multitoc-numbering==0.1.3
sphinx-panels==0.6.0
sphinx-thebe==0.1.1
sphinx-togglebutton==0.3.1
sphinxcontrib-applehelp
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit==1.12.2
streamlit-agraph==0.0.42
stvis==0.0.2
sympy
tables
tabulate
TBB==0.2
tblib
tempdir==0.7.1
tenacity
terminado
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss
tk==0.1.0
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
Twisted
typed-ast
typing_extensions
tzdata==2022.2
tzlocal==4.2
uc-micro-py==1.0.1
ujson
Unidecode
urllib3
validators==0.20.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
xlwings
yapf==0.32.0
yarl
zict==2.1.0
zipp
zope.interface
